# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.eggs/
*.whl

# Banco de dados SQLite
*.db

# Arquivos de log
*.log

# Ambientes virtuais
venv/
env/
.env

# Arquivos de cache
*.cache
*.tmp

# IDEs e editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Arquivos de sistema
.DS_Store
Thumbs.db
